N8N-Youtube-Sentiment-Analysis.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        0
      ],
      "id": "62fa23b5-7c77-4b4d-ac31-df0d68cef2ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "1IxG7ywSNXk",
        "part": [
          "snippet"
        ],
        "options": {
          "onBehalfOfContentOwner": ""
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "474e0656-ed5f-4dc6-afe5-aea2024b5237",
      "name": "Get a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "sb9CaZKiIiavqWHo",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/commentThreads?part=snippet&videoId={{ $json.id }}&maxResults=50&key=AIzaSyCInvYNPa2RaxDURPEYlaVpz1lJEayEa6U ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "0c8bb5f8-55f1-4e72-966d-0aff44f324cc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "2801fb41-80de-483b-a0e7-4fa99ee3b527",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24340d24-d5ce-48d9-a384-456bc4353f6e",
              "name": "username",
              "value": "={{ $json.snippet.topLevelComment.snippet.authorDisplayName }}",
              "type": "string"
            },
            {
              "id": "b38d92b5-649a-4d02-88a0-9b8a3c7ee057",
              "name": "Comment",
              "value": "={{ $json.snippet.topLevelComment.snippet.textDisplay }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "id": "ea24cc24-d06e-481e-9519-cc27eee7e8d1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the YouTube comment: {{ $json.Comment }} Categorize it into exactly one of categories : [Positive,Negative,Neutral] Respond with only the category name.\nyou have to respond as like Positive,Negative and Neutral only based on the comment do not say as mixed or other return in single word as postive,negative or neutral based on the comment",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        64
      ],
      "id": "24f6990c-fca1-4d09-8382-bbe788d3cd84",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "354c9962-ab9a-4129-a17a-5fead00346b3",
              "name": "Sentiment",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        64
      ],
      "id": "0de4d5e6-6444-42fa-8e65-ce7fc748a681",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        -32
      ],
      "id": "71becc8e-f795-4136-97d3-33b4e4234339",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sfbI1p2JmkKby2oud-VeVzO6cQSEwrsDWUrqJlXct3M",
          "mode": "list",
          "cachedResultName": "Sentiment Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfbI1p2JmkKby2oud-VeVzO6cQSEwrsDWUrqJlXct3M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sfbI1p2JmkKby2oud-VeVzO6cQSEwrsDWUrqJlXct3M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        -32
      ],
      "id": "b7fe2579-c87e-4e87-8867-ba59b9b5c47d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TSllqRl2wmfiLFPV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        816,
        272
      ],
      "id": "107259ec-0bb7-45fc-b3fa-063a0ebc6c09",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TZ6GVaLyzTWlNcMt",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bb3f4345-fe7e-41ec-966b-ff800937b7f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2affb6007961981927b817883993d1a667ee85dbe894319c4a2aeb5b72ef17fd"
  },
  "id": "483yrusmFZ0CQWHF4VV8f",
  "tags": []
}